In [1]:
# Importing libraries
import pandas as pd
import numpy as np

In [2]:
pd.set_option("max_colwidth", None)
pd.set_option("display.max_columns", None)

In [3]:
data_dictionary = pd.read_csv('data_dictionary.csv')

data_dictionary

,Field,Description
0,VendorID,"A code indicating the LPEP provider that provided the record (1= Creative Mobile Technologies, LLC; 2= Verifone Inc.)"
1,lpep_pickup_datetime,The date and time when the meter was engaged
2,lpep_dropoff_datetime,The date and time when the meter was disengaged
3,store_and_fwd_flag,"This flag indicates whether the trip record was held in vehicle memory before sending to the vendor, aka �store and forward,� because the vehicle did not have a connection to the server (Y= store and forward trip; N= not a store and forward trip)"
4,RatecodeID,The final rate code in effect at the end of the trip (1= Standard rate; 2= JFK; 3= Newark; 4= Nassau or Westchester; 5= Negotiated fare; 6= Group ride)
5,PULocationID,TLC Taxi Zone in which the taximeter was engaged
6,DOLocationID,TLC Taxi Zone in which the taximeter was disengaged
7,passenger_count,The number of passengers in the vehicle (this is a driver entered value)
8,trip_distance,The elapsed trip distance in miles reported by the taximeter
9,fare_amount,The time-and-distance fare calculated by the meter
10,extra,Miscellaneous extras and surcharges (this only includes the $0.50 and $1 rush hour and overnight charges)
11,mta_tax,$0.50 MTA tax that is automatically triggered based on the metered rate in use
12,tip_amount,Tip amount (automatically populated for credit card tips - cash tips are not included)
13,tolls_amount,Total amount of all tolls paid in trip
14,improvement_surcharge,$0.30 improvement surcharge assessed on hailed trips at the flag drop
15,total_amount,The total amount charged to passengers (does not include cash tips)
16,payment_type,A numeric code signifying how the passenger paid for the trip (1= Credit card; 2= Cash; 3= No charge; 4= Dispute; 5= Unknown; 6= Voided trip)
17,trip_type,A code indicating whether the trip was a street-hail or a dispatch that is automatically assigned based on the metered rate in use but can be altered by the driver (1= Street-hail; 2= Dispatch)
18,congestion_surcharge,"Congestion surcharge for trips that start, end or pass through the congestion zone in Manhattan, south of 96th street ($2.50 for non-shared trips in Yellow Taxis; $2.75 for non-shared trips in Green Taxis)"

In [4]:
taxi_zones = pd.read_csv('taxi_zones.csv')

taxi_zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [5]:
calendar = pd.read_csv('454_calendar.csv')

calendar

,Date,FiscalYear,FiscalQuarter,FiscalMonthNumber,FiscalMonthOfQuarter,FiscalWeekOfYear,DayOfWeek,FiscalMonthName,FiscalMonthYear,FiscalQuarterYear,DayOfMonthNumber,DayName
0,2017-02-05,2017,1,1,1,1,0,February,17-Feb,12017,5,Sunday
1,2017-02-06,2017,1,1,1,1,1,February,17-Feb,12017,6,Monday
2,2017-02-07,2017,1,1,1,1,2,February,17-Feb,12017,7,Tuesday
3,2017-02-08,2017,1,1,1,1,3,February,17-Feb,12017,8,Wednesday
4,2017-02-09,2017,1,1,1,1,4,February,17-Feb,12017,9,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...
1451,2021-01-26,2020,4,12,3,52,2,January,20-Jan,42020,26,Tuesday
1452,2021-01-27,2020,4,12,3,52,3,January,20-Jan,42020,27,Wednesday
1453,2021-01-28,2020,4,12,3,52,4,January,20-Jan,42020,28,Thursday
1454,2021-01-29,2020,4,12,3,52,5,January,20-Jan,42020,29,Friday
1455,2021-01-30,2020,4,12,3,52,6,January,20-Jan,42020,30,Saturday

In [6]:
taxi_trips_2017 = pd.read_csv('taxi_trips/2017_taxi_trips.csv')
taxi_trips_2018 = pd.read_csv('taxi_trips/2018_taxi_trips.csv')
taxi_trips_2019 = pd.read_csv('taxi_trips/2019_taxi_trips.csv')
taxi_trips_2020 = pd.read_csv('taxi_trips/2020_taxi_trips.csv')

print(taxi_trips_2017.shape)
print(taxi_trips_2018.shape)
print(taxi_trips_2019.shape)
print(taxi_trips_2020.shape)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(11740667, 18)
(8807303, 18)
(6044050, 19)
(1734051, 19)

In [7]:
taxi_trips_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11740667 entries, 0 to 11740666
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   lpep_pickup_datetime   object
 2   lpep_dropoff_datetime  object
 3   store_and_fwd_flag     object
 4   RatecodeID             int64
 5   PULocationID           int64
 6   DOLocationID           int64
 7   passenger_count        int64
 8   trip_distance          float64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  payment_type           int64
 17  trip_type              float64
dtypes: float64(9), int64(6), object(3)
memory usage: 1.6+ GB

In [8]:
taxi_trips_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807303 entries, 0 to 8807302
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   lpep_pickup_datetime   object
 2   lpep_dropoff_datetime  object
 3   store_and_fwd_flag     object
 4   RatecodeID             int64
 5   PULocationID           int64
 6   DOLocationID           int64
 7   passenger_count        int64
 8   trip_distance          float64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  payment_type           int64
 17  trip_type              float64
dtypes: float64(9), int64(6), object(3)
memory usage: 1.2+ GB

In [9]:
taxi_trips_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6044050 entries, 0 to 6044049
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   lpep_pickup_datetime   object
 2   lpep_dropoff_datetime  object
 3   store_and_fwd_flag     object
 4   RatecodeID             float64
 5   PULocationID           int64
 6   DOLocationID           int64
 7   passenger_count        float64
 8   trip_distance          float64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  payment_type           float64
 17  trip_type              float64
 18  congestion_surcharge   float64
dtypes: float64(14), int64(2), object(3)
memory usage: 876.1+ MB

In [10]:
taxi_trips_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1734051 entries, 0 to 1734050
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   lpep_pickup_datetime   object
 2   lpep_dropoff_datetime  object
 3   store_and_fwd_flag     object
 4   RatecodeID             float64
 5   PULocationID           int64
 6   DOLocationID           int64
 7   passenger_count        float64
 8   trip_distance          float64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  payment_type           float64
 17  trip_type              float64
 18  congestion_surcharge   float64
dtypes: float64(14), int64(2), object(3)
memory usage: 251.4+ MB

In [11]:
taxi_trips_2019['congestion_surcharge'].value_counts()

 0.00    4346092
 2.75     732668
 2.50       4651
 0.75         73
-2.75         72
 2.00          2
-2.50          1
-0.75          1
 0.30          1
Name: congestion_surcharge, dtype: int64

In [12]:
taxi_trips_2020['congestion_surcharge'].value_counts()

 0.00    993526
 2.75    211706
 2.50       709
-2.75        11
 0.75         7
Name: congestion_surcharge, dtype: int64

In [13]:
# congestion_surcharge is missing from taxi_trips_2017 and taxi_trips_2018. Adding the column to make all dataframes same width before concatenating the dataframes
taxi_trips_2017['congestion_surcharge'] = 0.0
taxi_trips_2018['congestion_surcharge'] = 0.0

print(taxi_trips_2017.shape)
print(taxi_trips_2018.shape)

(11740667, 19)
(8807303, 19)

In [14]:
# Concating all taxi trips
taxi_trips = pd.concat([taxi_trips_2017, taxi_trips_2018, taxi_trips_2019, taxi_trips_2020]).reset_index(drop = True)

taxi_trips.shape

(28326071, 19)

In [15]:
# Verifying the number of rows
print("Total rows in concatenated dataframe: {}".format(taxi_trips.shape[0]))
print("Rows in each dataframe added up: {}".format(taxi_trips_2017.shape[0] + taxi_trips_2018.shape[0] + taxi_trips_2019.shape[0] + taxi_trips_2020.shape[0]))

Total rows in concatenated dataframe: 28326071
Rows in each dataframe added up: 28326071

In [16]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28326071 entries, 0 to 28326070
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   lpep_pickup_datetime   object
 2   lpep_dropoff_datetime  object
 3   store_and_fwd_flag     object
 4   RatecodeID             float64
 5   PULocationID           int64
 6   DOLocationID           int64
 7   passenger_count        float64
 8   trip_distance          float64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  payment_type           float64
 17  trip_type              float64
 18  congestion_surcharge   float64
dtypes: float64(14), int64(2), object(3)
memory usage: 4.0+ GB

## Data Types

<div class="alert alert-block alert-info">
    <h4>Data Types Inferred from Data Dictionary</h4><br>
    <b>VendorID:</b> Integer<br>
    <b>lpep_pickup_datetime:</b> DateTime - Done<br>
    <b>lpep_dropoff_datetime:</b> DateTime - Done<br>
    <b>store_and_fwd_flag:</b> String - Correct<br>
    <b>RatecodeID:</b> Integer<br>
    <b>PULocationID:</b> Integer - Correct<br>
    <b>DOLocationID:</b> Integer - Correct<br>
    <b>passenger_count:</b> Integer<br>
    <b>trip_distance:</b> Float - Correct<br>
    <b>fare_amount:</b> Float - Correct<br>
    <b>extra:</b> Float - Correct<br>
    <b>mta_tax:</b> Float - Correct<br>
    <b>tip_amount:</b> Float - Correct<br>
    <b>tolls_amount:</b> Float - Correct<br>
    <b>improvement_surcharge:</b> Float - Correct<br>
    <b>total_amount:</b> Float - Correct<br>
    <b>payment_type:</b> Integer<br>
    <b>trip_type:</b> Integer<br>
    <b>congestion_surcharge:</b> Float - Correct<br>
</div>

###### Converting String to DateTime format

In [17]:
taxi_trips['lpep_pickup_datetime'] = pd.to_datetime(taxi_trips['lpep_pickup_datetime'])
taxi_trips['lpep_dropoff_datetime'] = pd.to_datetime(taxi_trips['lpep_dropoff_datetime'])

print(taxi_trips['lpep_pickup_datetime'].dtype)
print(taxi_trips['lpep_dropoff_datetime'].dtype)

datetime64[ns]
datetime64[ns]

<div class="alert alert-block alert-info">
    <h4>Data Types Inferred from Data Dictionary</h4><br>
    <b>VendorID:</b> Integer<br>
    <b>RatecodeID:</b> Integer<br>
    <b>passenger_count:</b> Integer<br>
    <b>payment_type:</b> Integer<br>
    <b>trip_type:</b> Integer<br>
</div>

###### Converting Float to Integer

In [18]:
# Checking values in columns to see if it matches data dictionary
print(taxi_trips['VendorID'].value_counts())
print(taxi_trips['RatecodeID'].value_counts())
print(taxi_trips['passenger_count'].value_counts())
print(taxi_trips['payment_type'].value_counts())
print(taxi_trips['trip_type'].value_counts())

2.0    22569744
1.0     4814128
Name: VendorID, dtype: int64
1.0     26555346
5.0       740222
2.0        55534
4.0        18498
3.0        13769
6.0          349
99.0         154
Name: RatecodeID, dtype: int64
1.0    23244224
2.0     2117741
5.0      909801
6.0      468953
3.0      455954
4.0      156794
0.0       29101
8.0         596
7.0         538
9.0         170
Name: passenger_count, dtype: int64
1.0    14793538
2.0    12392982
3.0      132220
4.0       63966
5.0        1166
Name: payment_type, dtype: int64
1.0    26640078
2.0      743340
Name: trip_type, dtype: int64

In [19]:
taxi_trips['VendorID'] = taxi_trips['VendorID'].fillna(0.0).astype(int)
taxi_trips['RatecodeID'] = taxi_trips['RatecodeID'].fillna(0.0).astype(int)
taxi_trips['passenger_count'] = taxi_trips['passenger_count'].fillna(0.0).astype(int)
taxi_trips['payment_type'] = taxi_trips['payment_type'].fillna(0.0).astype(int)
taxi_trips['trip_type'] = taxi_trips['trip_type'].fillna(0.0).astype(int)

## Column Values

### VendorID

In [20]:
# Checking values in VendorID
taxi_trips['VendorID'].value_counts()

2    22569744
1     4814128
0      942199
Name: VendorID, dtype: int64

In [21]:
# Checking values in VendorID
taxi_trips['VendorID'].unique()

array([1, 2, 0])

In [22]:
taxi_trips['Vendor'] = taxi_trips['VendorID'].map({1: 'Creative Mobile Technologies, LLC', 2: 'Verifone Inc.'})

taxi_trips['Vendor'].value_counts()

Verifone Inc.                        22569744
Creative Mobile Technologies, LLC     4814128
Name: Vendor, dtype: int64

In [23]:
taxi_trips['Vendor'].unique()

array(['Creative Mobile Technologies, LLC', 'Verifone Inc.', nan],
      dtype=object)

### store_and_fwd_flag

In [24]:
# Checking values in VendorID
taxi_trips['store_and_fwd_flag'].value_counts()

N    27330950
Y       52922
Name: store_and_fwd_flag, dtype: int64

In [25]:
# Checking values in VendorID
taxi_trips['store_and_fwd_flag'].unique()

array(['N', 'Y', nan], dtype=object)

### RatecodeID

In [26]:
# Checking values in VendorID
taxi_trips['RatecodeID'].value_counts()

1     26555346
0       942199
5       740222
2        55534
4        18498
3        13769
6          349
99         154
Name: RatecodeID, dtype: int64

In [27]:
# Checking values in VendorID
print(taxi_trips['RatecodeID'].unique())

[ 1  2  4  3  6 99  5  0]

In [28]:
rate_codes = {1 : 'Standard rate', 2 : 'JFK', 3 : 'Newark', 4 : 'Nassau or Westchester', 5 : 'Negotiated fare', 6 : 'Group ride', 0 : 'Unknown', 99 : 'Unknown'}

taxi_trips['Ratecode'] = taxi_trips['RatecodeID'].map(rate_codes)

taxi_trips['Ratecode'].value_counts()

Standard rate            26555346
Unknown                    942353
Negotiated fare            740222
JFK                         55534
Nassau or Westchester       18498
Newark                      13769
Group ride                    349
Name: Ratecode, dtype: int64

### PULocationID

In [29]:
# Checking values in VendorID
taxi_trips['PULocationID'].value_counts()

74     1894141
75     1629516
41     1587500
7      1300642
82     1208719
        ...
204         40
12          33
99          19
199         15
105          1
Name: PULocationID, Length: 262, dtype: int64

In [30]:
# Checking if there are any duplicate rows. No duplicate rows if False
taxi_zones['LocationID'].duplicated().any()

False

In [31]:
# Merge PULocationID with taxi_zones
taxi_trips = taxi_trips.merge(right=taxi_zones, how='left', left_on='PULocationID', right_on='LocationID')

In [32]:
# Dropping LocationID from taxi_trips
taxi_trips.drop(columns='LocationID', inplace=True)

In [33]:
# Renaming merged columns
taxi_trips.rename(columns={'Borough' : 'PU_Borough', 'Zone' : 'PU_Zone', 'service_zone' : 'PU_service_zone'}, inplace=True)

### DOLocationID

In [34]:
taxi_trips['DOLocationID'].value_counts()

74     996733
42     963534
41     858422
7      817099
129    751496
        ...
2         165
99         45
199        13
105         8
110         1
Name: DOLocationID, Length: 263, dtype: int64

In [35]:
# Merge DOLocationID with taxi_zones
taxi_trips = taxi_trips.merge(right=taxi_zones, how='left', left_on='DOLocationID', right_on='LocationID')

In [36]:
# Dropping LocationID from taxi_trips
taxi_trips.drop(columns='LocationID', inplace=True)

In [37]:
# Renaming merged columns
taxi_trips.rename(columns={'Borough' : 'DO_Borough', 'Zone' : 'DO_Zone', 'service_zone' : 'DO_service_zone'}, inplace=True)

In [38]:
taxi_trips

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,Vendor,Ratecode,PU_Borough,PU_Zone,PU_service_zone,DO_Borough,DO_Zone,DO_service_zone
0,1,2017-01-01 09:00:01,2017-01-01 09:03:56,N,1,74,41,1,0.70,5.00,0.0,0.5,0.0,0.00,0.3,5.8,2,1,0.0,"Creative Mobile Technologies, LLC",Standard rate,Manhattan,East Harlem North,Boro Zone,Manhattan,Central Harlem,Boro Zone
1,1,2017-01-01 18:57:55,2017-01-01 19:01:16,N,1,42,41,1,0.70,5.00,0.0,0.5,0.0,0.00,0.3,5.8,2,1,0.0,"Creative Mobile Technologies, LLC",Standard rate,Manhattan,Central Harlem North,Boro Zone,Manhattan,Central Harlem,Boro Zone
2,2,2017-01-02 06:55:47,2017-01-02 06:58:54,N,1,42,41,1,0.70,5.00,0.0,0.5,0.0,0.00,0.3,5.8,2,1,0.0,Verifone Inc.,Standard rate,Manhattan,Central Harlem North,Boro Zone,Manhattan,Central Harlem,Boro Zone
3,2,2017-01-02 14:34:17,2017-01-02 14:39:29,N,1,74,41,1,0.70,5.00,0.0,0.5,0.0,0.00,0.3,5.8,2,1,0.0,Verifone Inc.,Standard rate,Manhattan,East Harlem North,Boro Zone,Manhattan,Central Harlem,Boro Zone
4,1,2017-01-03 06:12:30,2017-01-03 06:15:56,N,1,42,41,1,0.70,5.00,0.0,0.5,0.0,0.00,0.3,5.8,2,1,0.0,"Creative Mobile Technologies, LLC",Standard rate,Manhattan,Central Harlem North,Boro Zone,Manhattan,Central Harlem,Boro Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28326066,0,2020-08-18 02:26:00,2020-08-18 02:52:00,NaN,0,117,76,0,10.64,46.61,0.0,0.0,0.0,2.29,0.3,49.2,0,0,NaN,NaN,Unknown,Queens,Hammels/Arverne,Boro Zone,Brooklyn,East New York,Boro Zone
28326067,0,2020-08-18 03:02:00,2020-08-18 03:43:00,NaN,0,117,232,0,24.39,93.41,0.0,0.0,0.0,2.29,0.3,96.0,0,0,NaN,NaN,Unknown,Queens,Hammels/Arverne,Boro Zone,Manhattan,Two Bridges/Seward Park,Yellow Zone
28326068,0,2020-08-25 03:16:00,2020-08-25 03:54:00,NaN,0,117,232,0,24.65,93.41,0.0,0.0,0.0,2.29,0.3,96.0,0,0,NaN,NaN,Unknown,Queens,Hammels/Arverne,Boro Zone,Manhattan,Two Bridges/Seward Park,Yellow Zone
28326069,0,2020-08-30 02:48:00,2020-08-30 03:40:00,NaN,0,117,232,0,20.26,93.41,0.0,0.0,0.0,2.29,0.3,96.0,0,0,NaN,NaN,Unknown,Queens,Hammels/Arverne,Boro Zone,Manhattan,Two Bridges/Seward Park,Yellow Zone
28326070,0,2020-08-04 04:37:00,2020-08-04 05:11:00,NaN,0,117,138,0,19.32,65.51,0.0,0.0,0.0,2.29,0.3,68.1,0,0,NaN,NaN,Unknown,Queens,Hammels/Arverne,Boro Zone,Queens,LaGuardia Airport,Airports

### passenger_count

In [39]:
taxi_trips['passenger_count'].value_counts()

1    23244224
2     2117741
0      971300
5      909801
6      468953
3      455954
4      156794
8         596
7         538
9         170
Name: passenger_count, dtype: int64

In [153]:
# Printing the number of missing passenger_count
print("There are {} records with missing passenger_count. This is a driver entered value".format(taxi_trips.loc[taxi_trips['passenger_count']==0].shape[0]))

There are 971300 records with missing passenger_count. This is a driver entered value

### trip_distance

In [40]:
taxi_trips['trip_distance'].value_counts()

 0.00     438914
 0.90     295293
 1.00     292823
 0.80     289703
 1.10     276241
           ...
-23.85         1
 52.57         1
 65.32         1
 74.03         1
 36.83         1
Name: trip_distance, Length: 8314, dtype: int64

In [41]:
taxi_trips['trip_distance'].describe()

count    2.832607e+07
mean     3.866140e+00
std      2.969125e+02
min     -2.032908e+04
25%      1.030000e+00
50%      1.860000e+00
75%      3.660000e+00
max      2.056541e+05
Name: trip_distance, dtype: float64

###### Minimum value of trip_distance is in the negative. Let's investigate the negatives

In [100]:
# How many rows are there where the trip_distance is in the negative?
print('There are {} records where the trip_distance is in the negative'.format(taxi_trips.loc[taxi_trips['trip_distance']<0].shape[0]))

There are 19487 records where the trip_distance is in the negative

In [98]:
# Checking the first 10 rows where the trip_distance is in the negative.
taxi_trips.loc[taxi_trips['trip_distance']<0].head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,Vendor,Ratecode,PU_Borough,PU_Zone,PU_service_zone,DO_Borough,DO_Zone,DO_service_zone,trip_duration_mins
21880092,2,2019-11-20 16:02:33,2019-11-20 16:23:41,N,5,197,124,1,-4.46,14.96,0.0,0.5,0.0,0.0,0.3,15.76,2,1,0.0,Verifone Inc.,Negotiated fare,Queens,Richmond Hill,Boro Zone,Queens,Howard Beach,Boro Zone,21.133333
21880097,2,2019-11-21 17:39:56,2019-11-21 18:07:10,N,5,65,225,1,-3.87,23.51,0.0,0.5,0.0,0.0,0.3,24.31,2,1,0.0,Verifone Inc.,Negotiated fare,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone,Brooklyn,Stuyvesant Heights,Boro Zone,27.233333
21880102,2,2019-11-23 08:25:54,2019-11-23 08:41:05,N,5,92,9,1,-5.28,18.95,0.0,0.5,0.0,0.0,0.3,19.75,2,1,0.0,Verifone Inc.,Negotiated fare,Queens,Flushing,Boro Zone,Queens,Auburndale,Boro Zone,15.183333
21880105,2,2019-11-24 08:17:53,2019-11-24 08:41:19,N,5,188,225,1,-4.33,13.92,0.0,0.5,0.0,0.0,0.3,14.72,2,1,0.0,Verifone Inc.,Negotiated fare,Brooklyn,Prospect-Lefferts Gardens,Boro Zone,Brooklyn,Stuyvesant Heights,Boro Zone,23.433333
21880109,2,2019-11-25 08:27:44,2019-11-25 08:43:54,N,5,177,35,1,-1.43,18.92,0.0,0.5,0.0,0.0,0.3,19.72,2,1,0.0,Verifone Inc.,Negotiated fare,Brooklyn,Ocean Hill,Boro Zone,Brooklyn,Brownsville,Boro Zone,16.166667
21880110,2,2019-11-25 09:46:59,2019-11-25 10:55:47,N,5,35,48,1,-12.95,40.10,0.0,0.5,0.0,0.0,0.3,40.90,2,1,0.0,Verifone Inc.,Negotiated fare,Brooklyn,Brownsville,Boro Zone,Manhattan,Clinton East,Yellow Zone,68.800000
21880113,2,2019-11-25 12:31:15,2019-11-25 14:13:59,N,5,217,48,1,-3.46,12.35,0.0,0.5,0.0,0.0,0.3,13.15,2,1,0.0,Verifone Inc.,Negotiated fare,Brooklyn,South Williamsburg,Boro Zone,Manhattan,Clinton East,Yellow Zone,102.733333
21880114,2,2019-11-25 12:08:28,2019-11-25 14:51:40,N,5,91,108,1,-1.80,7.20,0.0,0.5,0.0,0.0,0.3,8.00,2,1,0.0,Verifone Inc.,Negotiated fare,Brooklyn,Flatlands,Boro Zone,Brooklyn,Gravesend,Boro Zone,163.200000
21880115,2,2019-11-25 19:09:26,2019-11-25 19:57:56,N,5,33,76,1,-7.55,21.09,0.0,0.5,0.0,0.0,0.3,21.89,2,1,0.0,Verifone Inc.,Negotiated fare,Brooklyn,Brooklyn Heights,Boro Zone,Brooklyn,East New York,Boro Zone,48.500000
21880175,2,2019-12-08 13:40:04,2019-12-08 14:01:43,N,5,124,76,1,-3.93,9.00,0.0,0.5,0.0,0.0,0.3,9.80,2,1,0.0,Verifone Inc.,Negotiated fare,Queens,Howard Beach,Boro Zone,Brooklyn,East New York,Boro Zone,21.650000

These are valid records and looks like the minus is displayed in error

In [138]:
# Sum of trip_distance as it is
sum_trip_distance = taxi_trips['trip_distance'].sum()

# Sum of positive values in trip_distance
sum_trip_distance_positive = taxi_trips.loc[taxi_trips['trip_distance']>0,'trip_distance'].sum()

# Sum of negative values in trip_distance
sum_trip_distance_negative = taxi_trips.loc[taxi_trips['trip_distance']<0,'trip_distance'].sum()

# Expected sum of trip_distance when the negative values are converted to positive values
sum_trip_distance_exp_converted = taxi_trips.loc[taxi_trips['trip_distance']>0,'trip_distance'].sum() + taxi_trips.loc[taxi_trips['trip_distance']<0,'trip_distance'].abs().sum()

print('Sum of trip_distance: {:.2f}'.format(sum_trip_distance))
print('Sum of positive values in trip_distance: {:.2f}'.format(sum_trip_distance_positive))
print('Sum of negative values in trip_distance: {:.2f}'.format(sum_trip_distance_negative))
print('Expected sum after converting negative values to positive: {:.2f}'.format(sum_trip_distance_exp_converted))

Sum of trip_distance: 109917569.29
Sum of positive values in trip_distance: 109917569.29
Sum of negative values in trip_distance: 0.00
Expected sum after converting negative values to positive: 109917569.29

In [142]:
# Reassigning the column with it's absolute value
taxi_trips['trip_distance'] = taxi_trips['trip_distance'].abs()

# Checking if the sum matches with the expected sum in the previous step
print('Actual sum of trip_distance after converting negative values to positive: {:.2f}'.format(taxi_trips['trip_distance'].sum()))

Actual sum of trip_distance after converting negative values to positive: 109917569.29

In [143]:
taxi_trips['trip_distance'].describe()

count    2.832607e+07
mean     3.880438e+00
std      2.969123e+02
min      0.000000e+00
25%      1.030000e+00
50%      1.870000e+00
75%      3.660000e+00
max      2.056541e+05
Name: trip_distance, dtype: float64

###### Minimum value of trip_distance is now zero. Why are there zeros?

In [147]:
# How many rows are there where the trip_distance is zero?
print('There are {} records where the trip_distance is zero'.format(taxi_trips.loc[taxi_trips['trip_distance']==0].shape[0]))

There are 438914 records where the trip_distance is zero

In [149]:
# Checking the head and tail where the trip_distance is zero.
taxi_trips.loc[taxi_trips['trip_distance']==0]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,Vendor,Ratecode,PU_Borough,PU_Zone,PU_service_zone,DO_Borough,DO_Zone,DO_service_zone,trip_duration_mins
2949,1,2017-01-10 10:47:57,2017-01-10 10:47:57,N,1,116,264,1,0.0,5.00,0.0,0.5,0.0,0.00,0.3,5.80,2,1,0.0,"Creative Mobile Technologies, LLC",Standard rate,Manhattan,Hamilton Heights,Boro Zone,Unknown,NV,NaN,0.000000
2964,1,2017-01-13 13:22:03,2017-01-13 13:27:09,N,1,145,145,1,0.0,5.00,0.0,0.5,0.0,0.00,0.3,5.80,2,1,0.0,"Creative Mobile Technologies, LLC",Standard rate,Queens,Long Island City/Hunters Point,Boro Zone,Queens,Long Island City/Hunters Point,Boro Zone,5.100000
2965,1,2017-01-14 13:51:27,2017-01-14 13:56:31,N,1,145,145,1,0.0,5.00,0.0,0.5,0.0,0.00,0.3,5.80,2,1,0.0,"Creative Mobile Technologies, LLC",Standard rate,Queens,Long Island City/Hunters Point,Boro Zone,Queens,Long Island City/Hunters Point,Boro Zone,5.066667
2973,1,2017-01-15 19:28:38,2017-01-15 19:33:57,N,1,17,17,1,0.0,5.00,0.0,0.5,0.0,0.00,0.3,5.80,2,1,0.0,"Creative Mobile Technologies, LLC",Standard rate,Brooklyn,Bedford,Boro Zone,Brooklyn,Bedford,Boro Zone,5.316667
2976,1,2017-01-17 07:56:17,2017-01-17 07:56:17,N,1,260,264,1,0.0,5.00,0.0,0.5,0.0,0.00,0.3,5.80,2,1,0.0,"Creative Mobile Technologies, LLC",Standard rate,Queens,Woodside,Boro Zone,Unknown,NV,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28324284,0,2020-01-10 05:50:00,2020-01-10 06:21:00,NaN,0,200,233,0,0.0,39.77,0.0,0.0,0.0,2.80,0.3,42.87,0,0,NaN,NaN,Unknown,Bronx,Riverdale/North Riverdale/Fieldston,Boro Zone,Manhattan,UN/Turtle Bay South,Yellow Zone,31.000000
28324382,0,2020-01-03 07:43:00,2020-01-03 08:32:00,NaN,0,115,225,0,0.0,45.04,0.0,0.0,0.0,12.24,0.3,57.58,0,0,NaN,NaN,Unknown,Staten Island,Grymes Hill/Clifton,Boro Zone,Brooklyn,Stuyvesant Heights,Boro Zone,49.000000
28324717,0,2020-05-11 15:54:00,2020-05-11 16:39:00,NaN,0,82,156,0,0.0,60.51,0.0,0.0,0.0,12.24,0.3,73.05,0,0,NaN,NaN,Unknown,Queens,Elmhurst,Boro Zone,Staten Island,Mariners Harbor,Boro Zone,45.000000
28325199,0,2020-01-08 12:51:00,2020-01-08 13:30:00,NaN,0,160,117,0,0.0,32.22,0.0,0.0,0.0,2.29,0.3,34.81,0,0,NaN,NaN,Unknown,Queens,Middle Village,Boro Zone,Queens,Hammels/Arverne,Boro Zone,39.000000
28325692,0,2020-01-08 15:39:00,2020-01-08 16:29:00,NaN,0,201,35,0,0.0,36.18,0.0,0.0,0.0,2.29,0.3,38.77,0,0,NaN,NaN,Unknown,Queens,Rockaway Park,Boro Zone,Brooklyn,Brownsville,Boro Zone,50.000000

Possible explanation of zero trip_distance:
 - Ride was less than 0.1 miles. This can be identified if the minimum fare is provided
 - Driver forgot to engage the meter. To populate the trip_distance where the meter wasn't engaged, the formula for the fare_amount is needed

### fare_amount

In [155]:
taxi_trips['fare_amount'].value_counts()

 6.00     1395757
 5.50     1337847
 6.50     1329164
 7.00     1305413
 5.00     1258937
           ...
-24.71          1
-53.32          1
-29.64          1
-24.85          1
-12.21          1
Name: fare_amount, Length: 10758, dtype: int64

In [156]:
taxi_trips['fare_amount'].describe()

count    2.832607e+07
mean     1.318245e+01
std      1.187243e+01
min     -8.900000e+02
25%      6.500000e+00
50%      9.500000e+00
75%      1.600000e+01
max      1.044584e+04
Name: fare_amount, dtype: float64

In [157]:
taxi_trips['fare_amount'].min()

-890.0

In [159]:
taxi_trips.loc[(taxi_trips['fare_amount']<0) & ~(taxi_trips['tip_amount']==0)]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,Vendor,Ratecode,PU_Borough,PU_Zone,PU_service_zone,DO_Borough,DO_Zone,DO_service_zone,trip_duration_mins
670044,2,2017-01-01 03:37:33,2017-01-01 03:38:03,N,1,25,25,2,0.00,-2.50,-0.5,-0.5,-16.00,0.00,-0.3,-19.80,4,1,0.0,Verifone Inc.,Standard rate,Brooklyn,Boerum Hill,Boro Zone,Brooklyn,Boerum Hill,Boro Zone,0.500000
670045,2,2017-01-13 23:30:39,2017-01-13 23:30:53,N,5,61,62,0,0.00,-9.00,0.0,0.0,-2.70,0.00,0.0,-11.70,3,2,0.0,Verifone Inc.,Negotiated fare,Brooklyn,Crown Heights North,Boro Zone,Brooklyn,Crown Heights South,Boro Zone,0.233333
670046,2,2017-01-17 14:43:34,2017-01-17 14:51:28,N,1,33,33,3,0.58,-6.50,0.0,-0.5,-1.61,0.00,-0.3,-8.91,4,1,0.0,Verifone Inc.,Standard rate,Brooklyn,Brooklyn Heights,Boro Zone,Brooklyn,Brooklyn Heights,Boro Zone,7.900000
670047,2,2017-01-01 17:56:11,2017-01-01 17:56:18,N,2,49,49,1,0.01,-52.00,0.0,-0.5,-10.56,0.00,-0.3,-68.31,3,1,0.0,Verifone Inc.,JFK,Brooklyn,Clinton Hill,Boro Zone,Brooklyn,Clinton Hill,Boro Zone,0.116667
670049,2,2017-01-05 20:24:32,2017-01-05 20:26:26,N,1,223,223,1,0.39,-3.50,-0.5,-0.5,-1.20,0.00,-0.3,-6.00,4,1,0.0,Verifone Inc.,Standard rate,Queens,Steinway,Boro Zone,Queens,Steinway,Boro Zone,1.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28310696,0,2020-09-04 23:32:00,2020-09-04 23:44:00,NaN,0,188,225,0,2.32,-1.37,0.0,0.0,2.75,22.74,0.3,24.42,0,0,NaN,NaN,Unknown,Brooklyn,Prospect-Lefferts Gardens,Boro Zone,Brooklyn,Stuyvesant Heights,Boro Zone,12.000000
28310723,0,2020-09-06 18:13:00,2020-09-06 18:40:00,NaN,0,79,202,0,6.41,-2.31,0.0,0.0,2.75,25.00,0.3,25.74,0,0,NaN,NaN,Unknown,Manhattan,East Village,Yellow Zone,Manhattan,Roosevelt Island,Boro Zone,27.000000
28310753,0,2020-09-10 17:40:00,2020-09-10 18:02:00,NaN,0,252,121,0,7.39,-0.01,0.0,0.0,2.75,18.62,0.3,21.66,0,0,NaN,NaN,Unknown,Queens,Whitestone,Boro Zone,Queens,Hillcrest/Pomonok,Boro Zone,22.000000
28310757,0,2020-09-11 19:11:00,2020-09-11 19:38:00,NaN,0,61,17,0,3.55,-8.01,0.0,0.0,2.75,24.74,0.3,19.78,0,0,NaN,NaN,Unknown,Brooklyn,Crown Heights North,Boro Zone,Brooklyn,Bedford,Boro Zone,27.000000
28310775,0,2020-10-15 00:24:00,2020-10-15 00:31:00,NaN,0,225,61,0,1.28,-17.79,0.0,0.0,2.75,33.24,0.3,18.50,0,0,NaN,NaN,Unknown,Brooklyn,Stuyvesant Heights,Boro Zone,Brooklyn,Crown Heights North,Boro Zone,7.000000

### fare_amount is the time-and-distance fare calculated by the meter. How is it calculated?

In [53]:
taxi_trips.loc[taxi_trips['fare_amount']>0, 'fare_amount'].describe()

count    2.819305e+07
mean     1.326213e+01
std      1.181896e+01
min      1.000000e-02
25%      6.500000e+00
50%      9.500000e+00
75%      1.600000e+01
max      1.044584e+04
Name: fare_amount, dtype: float64

In [43]:
taxi_trips['trip_duration_mins'] = (taxi_trips['lpep_dropoff_datetime'] - taxi_trips['lpep_pickup_datetime']) / np.timedelta64(1, 'm')

taxi_trips['trip_duration_mins']

0            3.916667
1            3.350000
2            3.116667
3            5.200000
4            3.433333
              ...
28326066    26.000000
28326067    41.000000
28326068    38.000000
28326069    52.000000
28326070    34.000000
Name: trip_duration_mins, Length: 28326071, dtype: float64

In [48]:
taxi_trips.loc[taxi_trips['trip_distance']==1.0,['Ratecode','PU_Zone','DO_Zone','trip_distance','trip_duration_mins','fare_amount']].max()

Ratecode                  Unknown
trip_distance                 1.0
trip_duration_mins    1439.633333
fare_amount                 200.0
dtype: object

In [72]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28326071 entries, 0 to 28326070
Data columns (total 28 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   lpep_pickup_datetime   datetime64[ns]
 2   lpep_dropoff_datetime  datetime64[ns]
 3   store_and_fwd_flag     object
 4   RatecodeID             int32
 5   PULocationID           int64
 6   DOLocationID           int64
 7   passenger_count        int32
 8   trip_distance          float64
 9   fare_amount            float64
 10  extra                  float64
 11  mta_tax                float64
 12  tip_amount             float64
 13  tolls_amount           float64
 14  improvement_surcharge  float64
 15  total_amount           float64
 16  payment_type           int32
 17  trip_type              int32
 18  congestion_surcharge   float64
 19  Vendor                 object
 20  Ratecode               object
 21  PU_Borough             object
 22  PU_Zone                object
 23  PU_service_zone        object
 24  DO_Borough             object
 25  DO_Zone                object
 26  DO_service_zone        object
 27  trip_duration_mins     float64
dtypes: datetime64[ns](2), float64(10), int32(5), int64(2), object(9)
memory usage: 5.6+ GB

In [75]:
taxi_trips['lpep_pickup_datetime'].dt.month_name()

0           January
1           January
2           January
3           January
4           January
             ...
28326066     August
28326067     August
28326068     August
28326069     August
28326070     August
Name: lpep_pickup_datetime, Length: 28326071, dtype: object

In [79]:
taxi_trips['lpep_pickup_datetime'].dt.month

0           1
1           1
2           1
3           1
4           1
           ..
28326066    8
28326067    8
28326068    8
28326069    8
28326070    8
Name: lpep_pickup_datetime, Length: 28326071, dtype: int64

In [78]:
taxi_trips['lpep_pickup_datetime'].dt.year

0           2017
1           2017
2           2017
3           2017
4           2017
            ...
28326066    2020
28326067    2020
28326068    2020
28326069    2020
28326070    2020
Name: lpep_pickup_datetime, Length: 28326071, dtype: int64

In [ ]:
df[(df['date']>datetime.date(2019,11,1)) & (df['date']<datetime.date(2019,12,1))]

In [82]:
import datetime

In [96]:
data_dictionary

,Field,Description
0,VendorID,"A code indicating the LPEP provider that provided the record (1= Creative Mobile Technologies, LLC; 2= Verifone Inc.)"
1,lpep_pickup_datetime,The date and time when the meter was engaged
2,lpep_dropoff_datetime,The date and time when the meter was disengaged
3,store_and_fwd_flag,"This flag indicates whether the trip record was held in vehicle memory before sending to the vendor, aka �store and forward,� because the vehicle did not have a connection to the server (Y= store and forward trip; N= not a store and forward trip)"
4,RatecodeID,The final rate code in effect at the end of the trip (1= Standard rate; 2= JFK; 3= Newark; 4= Nassau or Westchester; 5= Negotiated fare; 6= Group ride)
5,PULocationID,TLC Taxi Zone in which the taximeter was engaged
6,DOLocationID,TLC Taxi Zone in which the taximeter was disengaged
7,passenger_count,The number of passengers in the vehicle (this is a driver entered value)
8,trip_distance,The elapsed trip distance in miles reported by the taximeter
9,fare_amount,The time-and-distance fare calculated by the meter
10,extra,Miscellaneous extras and surcharges (this only includes the $0.50 and $1 rush hour and overnight charges)
11,mta_tax,$0.50 MTA tax that is automatically triggered based on the metered rate in use
12,tip_amount,Tip amount (automatically populated for credit card tips - cash tips are not included)
13,tolls_amount,Total amount of all tolls paid in trip
14,improvement_surcharge,$0.30 improvement surcharge assessed on hailed trips at the flag drop
15,total_amount,The total amount charged to passengers (does not include cash tips)
16,payment_type,A numeric code signifying how the passenger paid for the trip (1= Credit card; 2= Cash; 3= No charge; 4= Dispute; 5= Unknown; 6= Voided trip)
17,trip_type,A code indicating whether the trip was a street-hail or a dispatch that is automatically assigned based on the metered rate in use but can be altered by the driver (1= Street-hail; 2= Dispatch)
18,congestion_surcharge,"Congestion surcharge for trips that start, end or pass through the congestion zone in Manhattan, south of 96th street ($2.50 for non-shared trips in Yellow Taxis; $2.75 for non-shared trips in Green Taxis)"

In [84]:
taxi_trips.loc[(taxi_trips['lpep_pickup_datetime'].dt.date>datetime.date(2019,11,1)) & (taxi_trips['lpep_pickup_datetime'].dt.date<datetime.date(2019,12,1)),['Ratecode','lpep_pickup_datetime','lpep_dropoff_datetime','trip_distance','trip_duration_mins','fare_amount']].head(30)

,Ratecode,lpep_pickup_datetime,lpep_dropoff_datetime,trip_distance,trip_duration_mins,fare_amount
21596546,Standard rate,2019-11-09 07:24:48,2019-11-09 07:29:51,1.08,5.050000,6.0
21596547,Standard rate,2019-11-09 13:48:05,2019-11-09 13:54:15,0.78,6.166667,6.0
21596548,Standard rate,2019-11-09 14:48:09,2019-11-09 14:54:51,0.86,6.700000,6.0
21596549,Standard rate,2019-11-09 15:03:48,2019-11-09 15:10:10,1.01,6.366667,6.0
21596550,Standard rate,2019-11-10 12:49:32,2019-11-10 12:57:34,1.10,8.033333,6.0
21596551,Standard rate,2019-11-10 13:42:23,2019-11-10 13:47:23,0.97,5.000000,6.0
21596552,Standard rate,2019-11-10 15:18:33,2019-11-10 15:24:53,0.97,6.333333,6.0
21596553,Standard rate,2019-11-10 17:31:39,2019-11-10 17:38:53,0.92,7.233333,6.0
21596554,Standard rate,2019-11-10 18:21:46,2019-11-10 18:27:21,0.92,5.583333,6.0
21596555,Standard rate,2019-11-10 18:29:49,2019-11-10 18:35:28,0.88,5.650000,6.0
21596556,Standard rate,2019-11-11 12:59:46,2019-11-11 13:05:36,0.85,5.833333,6.0
21596557,Standard rate,2019-11-11 13:34:03,2019-11-11 13:39:22,0.97,5.316667,6.0
21596558,Standard rate,2019-11-11 16:43:12,2019-11-11 16:49:55,0.93,6.716667,6.0
21596559,Standard rate,2019-11-12 09:39:21,2019-11-12 09:46:18,0.90,6.950000,6.0
21596560,Standard rate,2019-11-12 11:03:13,2019-11-12 11:09:11,0.81,5.966667,6.0
21596561,Standard rate,2019-11-12 12:27:05,2019-11-12 12:34:29,1.00,7.400000,6.0
21596562,Standard rate,2019-11-12 13:15:09,2019-11-12 13:21:01,0.78,5.866667,6.0
21596563,Standard rate,2019-11-12 13:39:12,2019-11-12 13:45:59,0.81,6.783333,6.0
21596564,Standard rate,2019-11-12 15:07:52,2019-11-12 15:14:26,0.64,6.566667,6.0
21596565,Standard rate,2019-11-13 09:39:47,2019-11-13 09:46:31,0.54,6.733333,6.0
21596566,Standard rate,2019-11-13 10:54:46,2019-11-13 11:03:11,0.87,8.416667,6.0
21596567,Standard rate,2019-11-13 13:47:15,2019-11-13 13:53:19,1.02,6.066667,6.0
21596568,Standard rate,2019-11-13 15:48:43,2019-11-13 15:56:28,0.91,7.750000,6.0
21596569,Standard rate,2019-11-14 08:08:37,2019-11-14 08:16:26,1.22,7.816667,6.0
21596570,Standard rate,2019-11-14 12:48:23,2019-11-14 12:54:15,1.37,5.866667,6.0
21596571,Standard rate,2019-11-14 12:23:18,2019-11-14 12:29:54,0.87,6.600000,6.0
21596572,Standard rate,2019-11-15 07:06:40,2019-11-15 07:13:00,0.68,6.333333,6.0
21596573,Standard rate,2019-11-15 14:40:44,2019-11-15 14:46:53,0.69,6.150000,6.0
21596574,Standard rate,2019-11-16 14:45:01,2019-11-16 14:50:41,0.93,5.666667,6.0
21596575,Standard rate,2019-11-16 14:56:47,2019-11-16 15:03:30,0.93,6.716667,6.0

In [95]:
taxi_trips.loc[(taxi_trips['lpep_pickup_datetime']>'2019-11-20 16:02:00') & (taxi_trips['lpep_pickup_datetime']<'2019-11-20 16:05:00'),['Ratecode','lpep_pickup_datetime','lpep_dropoff_datetime','trip_distance','trip_duration_mins','fare_amount']]

,Ratecode,lpep_pickup_datetime,lpep_dropoff_datetime,trip_distance,trip_duration_mins,fare_amount
21610189,Standard rate,2019-11-20 16:03:52,2019-11-20 16:11:34,1.17,7.700000,6.50
21666289,Standard rate,2019-11-20 16:03:44,2019-11-20 16:06:18,0.26,2.566667,3.50
21718512,Standard rate,2019-11-20 16:04:15,2019-11-20 17:08:23,10.96,64.133333,43.50
21734948,Standard rate,2019-11-20 16:03:50,2019-11-20 16:39:20,0.00,35.500000,22.20
21814298,Standard rate,2019-11-20 16:03:45,2019-11-20 16:23:34,2.37,19.816667,13.50
21816019,Standard rate,2019-11-20 16:02:39,2019-11-20 16:19:54,2.40,17.250000,13.00
21817505,Standard rate,2019-11-20 16:03:57,2019-11-20 16:18:00,2.70,14.050000,12.00
21822157,Standard rate,2019-11-20 16:02:45,2019-11-20 16:15:59,1.54,13.233333,10.00
21824714,Standard rate,2019-11-20 16:04:46,2019-11-20 16:08:56,0.34,4.166667,4.50
21826295,Standard rate,2019-11-20 16:04:02,2019-11-20 16:16:05,1.25,12.050000,9.00
21845484,Standard rate,2019-11-20 16:02:54,2019-11-20 16:17:14,2.90,14.333333,12.00
21846455,Standard rate,2019-11-20 16:03:19,2019-11-20 16:31:10,3.10,27.850000,17.50
21847743,Standard rate,2019-11-20 16:04:39,2019-11-20 16:17:15,2.10,12.600000,10.50
21849593,Standard rate,2019-11-20 16:04:27,2019-11-20 16:18:31,1.80,14.066667,10.00
21850920,Standard rate,2019-11-20 16:02:34,2019-11-20 17:01:41,20.85,59.116667,62.50
21850921,Standard rate,2019-11-20 16:02:06,2019-11-20 16:04:18,0.23,2.200000,3.50
21850928,Standard rate,2019-11-20 16:03:50,2019-11-20 17:15:55,19.94,72.083333,64.50
21852088,Standard rate,2019-11-20 16:02:08,2019-11-20 16:19:27,1.44,17.316667,12.00
21862270,Standard rate,2019-11-20 16:04:19,2019-11-20 16:12:56,2.46,8.616667,9.50
21862271,Standard rate,2019-11-20 16:04:45,2019-11-20 16:32:09,2.91,27.400000,17.50
21863291,Standard rate,2019-11-20 16:02:41,2019-11-20 16:21:52,2.30,19.183333,13.50
21880092,Negotiated fare,2019-11-20 16:02:33,2019-11-20 16:23:41,-4.46,21.133333,14.96
21882190,Unknown,2019-11-20 16:03:00,2019-11-20 16:08:00,-0.50,5.000000,41.01
21884514,Unknown,2019-11-20 16:04:00,2019-11-20 16:32:00,-6.78,28.000000,29.85
21884519,Unknown,2019-11-20 16:04:00,2019-11-20 16:45:00,-13.61,41.000000,53.70
21884530,Unknown,2019-11-20 16:03:00,2019-11-20 16:49:00,-4.11,46.000000,24.13
21884536,Unknown,2019-11-20 16:04:00,2019-11-20 16:30:00,-9.49,26.000000,31.30
21895554,Unknown,2019-11-20 16:04:00,2019-11-20 16:36:00,-6.82,32.000000,35.29
21896164,Unknown,2019-11-20 16:04:00,2019-11-20 16:55:00,-6.00,51.000000,30.49
21902174,Unknown,2019-11-20 16:03:00,2019-11-20 16:40:00,-5.00,37.000000,25.66
21904804,Unknown,2019-11-20 16:03:00,2019-11-20 16:37:00,-2.31,34.000000,20.43
21905526,Unknown,2019-11-20 16:03:00,2019-11-20 16:29:00,-4.55,26.000000,22.81
22003578,Unknown,2019-11-20 16:03:00,2019-11-20 16:37:00,9.73,34.000000,43.25
22021678,Unknown,2019-11-20 16:04:00,2019-11-20 16:37:00,7.10,33.000000,36.25
22021679,Unknown,2019-11-20 16:04:00,2019-11-20 16:35:00,7.47,31.000000,36.25
22075259,Unknown,2019-11-20 16:03:00,2019-11-20 16:07:00,-0.18,4.000000,22.15
22075260,Unknown,2019-11-20 16:03:00,2019-11-20 17:17:00,0.00,74.000000,45.79
22100076,Standard rate,2019-11-20 16:04:55,2019-11-20 16:24:34,3.75,19.650000,15.50
22100466,Standard rate,2019-11-20 16:03:01,2019-11-20 16:08:09,0.43,5.133333,5.00
22142437,Standard rate,2019-11-20 16:02:51,2019-11-20 16:48:10,5.16,45.316667,28.00
22146343,Standard rate,2019-11-20 16:04:55,2019-11-20 16:19:24,2.46,14.483333,11.50
22151038,Standard rate,2019-11-20 16:02:50,2019-11-20 16:14:56,3.60,12.100000,12.50
22163908,Standard rate,2019-11-20 16:04:09,2019-11-20 16:19:23,2.16,15.233333,11.50
22173444,Standard rate,2019-11-20 16:04:47,2019-11-20 16:15:01,1.57,10.233333,8.00
22264724,Standard rate,2019-11-20 16:02:02,2019-11-20 16:34:44,4.01,32.700000,21.00
22324084,Standard rate,2019-11-20 16:02:21,2019-11-20 16:12:44,1.20,10.383333,8.00
22366509,Unknown,2019-11-20 16:03:00,2019-11-20 17:30:00,-19.32,87.000000,54.88
22367371,Unknown,2019-11-20 16:04:00,2019-11-20 17:12:00,-18.30,68.000000,45.77
22368212,Unknown,2019-11-20 16:04:00,2019-11-20 16:21:00,-4.23,17.000000,16.16
22378000,Standard rate,2019-11-20 16:03:28,2019-11-20 17:23:53,20.05,80.416667,64.00
22378236,Standard rate,2019-11-20 16:03:32,2019-11-20 17:18:53,16.94,75.350000,62.50
22384015,Unknown,2019-11-20 16:04:00,2019-11-20 17:09:00,-15.63,65.000000,47.08
22384020,Unknown,2019-11-20 16:03:00,2019-11-20 16:51:00,-13.14,48.000000,39.16
22384025,Unknown,2019-11-20 16:03:00,2019-11-20 17:23:00,13.21,80.000000,34.09
22384027,Unknown,2019-11-20 16:03:00,2019-11-20 16:44:00,-10.83,41.000000,34.39
22384029,Unknown,2019-11-20 16:04:00,2019-11-20 16:45:00,-16.00,41.000000,40.58

In [ ]:
data_dictionary

In [ ]:
# negative_trip_distance_pivot = 
pd.pivot_table(taxi_trips.loc[taxi_trips['trip_distance']<0], index='DO_Zone', columns='PU_Zone', values='trip_distance', aggfunc='min', fill_value=0, margins=True, margins_name='Total').head(10)
# .sort_values(by='Total', ascending=False).drop('Total')

# Dropping the total row
# negative_trip_distance_pivot.drop('Total', inplace=True)

# negative_trip_distance_pivot

In [ ]:
pd.pivot_table(taxi_trips, index='DO_Zone', columns='PU_Zone', values='trip_distance', aggfunc='max', fill_value=0, margins=True, margins_name='Total').head(10)

In [ ]:
negative_trip_distance_pivot

In [ ]:
taxi_trips.loc[(taxi_trips['trip_distance']<0) & (taxi_trips['DO_Zone']=='Astoria') & (taxi_trips['PU_Zone']=='Astoria')].shape

In [ ]:
print(taxi_trips.loc[taxi_trips['trip_distance']<0, 'DO_Zone'].value_counts())
print(taxi_trips.loc[taxi_trips['trip_distance']<0, 'PU_Zone'].value_counts())

In [65]:
taxi_trips.loc[taxi_trips['trip_distance']<0]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,Vendor,Ratecode,PU_Borough,PU_Zone,PU_service_zone,DO_Borough,DO_Zone,DO_service_zone,trip_duration_mins
21880092,2,2019-11-20 16:02:33,2019-11-20 16:23:41,N,5,197,124,1,-4.46,14.96,0.0,0.5,0.0,0.00,0.3,15.76,2,1,0.0,Verifone Inc.,Negotiated fare,Queens,Richmond Hill,Boro Zone,Queens,Howard Beach,Boro Zone,21.133333
21880097,2,2019-11-21 17:39:56,2019-11-21 18:07:10,N,5,65,225,1,-3.87,23.51,0.0,0.5,0.0,0.00,0.3,24.31,2,1,0.0,Verifone Inc.,Negotiated fare,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone,Brooklyn,Stuyvesant Heights,Boro Zone,27.233333
21880102,2,2019-11-23 08:25:54,2019-11-23 08:41:05,N,5,92,9,1,-5.28,18.95,0.0,0.5,0.0,0.00,0.3,19.75,2,1,0.0,Verifone Inc.,Negotiated fare,Queens,Flushing,Boro Zone,Queens,Auburndale,Boro Zone,15.183333
21880105,2,2019-11-24 08:17:53,2019-11-24 08:41:19,N,5,188,225,1,-4.33,13.92,0.0,0.5,0.0,0.00,0.3,14.72,2,1,0.0,Verifone Inc.,Negotiated fare,Brooklyn,Prospect-Lefferts Gardens,Boro Zone,Brooklyn,Stuyvesant Heights,Boro Zone,23.433333
21880109,2,2019-11-25 08:27:44,2019-11-25 08:43:54,N,5,177,35,1,-1.43,18.92,0.0,0.5,0.0,0.00,0.3,19.72,2,1,0.0,Verifone Inc.,Negotiated fare,Brooklyn,Ocean Hill,Boro Zone,Brooklyn,Brownsville,Boro Zone,16.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28322706,0,2020-01-11 01:12:00,2020-01-11 01:38:00,NaN,0,55,117,0,-12.90,38.85,0.0,0.5,0.0,2.29,0.3,41.94,0,0,NaN,NaN,Unknown,Brooklyn,Coney Island,Boro Zone,Queens,Hammels/Arverne,Boro Zone,26.000000
28322717,0,2020-01-12 12:30:00,2020-01-12 12:52:00,NaN,0,76,117,0,-9.91,28.01,0.0,0.5,0.0,2.29,0.3,31.10,0,0,NaN,NaN,Unknown,Brooklyn,East New York,Boro Zone,Queens,Hammels/Arverne,Boro Zone,22.000000
28322720,0,2020-01-12 13:25:00,2020-01-12 14:14:00,NaN,0,37,117,0,-12.38,33.41,0.0,0.5,0.0,2.29,0.3,36.50,0,0,NaN,NaN,Unknown,Brooklyn,Bushwick South,Boro Zone,Queens,Hammels/Arverne,Boro Zone,49.000000
28322722,0,2020-01-12 14:30:00,2020-01-12 15:40:00,NaN,0,117,78,0,-24.24,78.23,0.0,0.5,0.0,8.41,0.3,87.44,0,0,NaN,NaN,Unknown,Queens,Hammels/Arverne,Boro Zone,Bronx,East Tremont,Boro Zone,70.000000
28322807,0,2020-01-03 16:56:00,2020-01-03 17:38:00,NaN,0,181,117,0,-1.43,67.48,0.0,0.0,0.0,5.58,0.0,73.06,0,0,NaN,NaN,Unknown,Brooklyn,Park Slope,Boro Zone,Queens,Hammels/Arverne,Boro Zone,42.000000

In [ ]:
import seaborn as sns

In [ ]:
sns.boxplot(taxi_trips['trip_distance'])

In [ ]:
taxi_trips['trip_distance'].value_counts().plot(kind='barh')

In [ ]:
taxi_trips['trip_distance'].plot()

In [ ]:
taxi_trips.loc[taxi_trips['passenger_count']==0]

In [ ]:
data_dictionary